.currency-converter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.conversion-box {
  margin: 0 20px;
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}

input[type="number"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .currency-converter {
    flex-direction: column;
  }

  .conversion-box {
    flex-direction: column;
    text-align: center;
  }

  select {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}
