.currency-converter {
  background-color: #5c5470;
  display: flex;
  justify-content: center;
}

.box {
  width: 60%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.conversion-box {
  margin: 0 20px;
  padding: 10px;
}

input[type="number"] {
  width: 180px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .currency-converter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.conversion-box {
  margin: 0 20px;
}

input[type="number"] {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

select {
  width: 80px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
} */
