.box {
  margin: 0 auto;
  width: 60%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #b9b4c7;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .box {
    height: 400px;
  }
}
