.currency-header {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 30px;
}

.currency-rates {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.currency-rate {
  margin: 0 20px;
  font-size: 24px;
}

.currency-name {
  font-weight: bold;
}

.exchange-rate {
  font-weight: bold;
  font-size: 28px;
}

@media (max-width: 767px) {
  h1 {
    padding: 20px;
    font-size: 30px;
  }

  .currency-rate {
    margin: 0 20px;
    font-size: 14px;
  }

  .exchange-rate {
    font-weight: bold;
    font-size: 18px;
  }
}
